Language: Cpp
BasedOnStyle: LLVM
# indentation
IndentWidth: 4
TabWidth: 4
#UseTab: Always
# width
ColumnLimit: 110
# alignment
PointerAlignment: Left
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
# ctor alignment
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
# line break
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: All
AllowShortIfStatementsOnASingleLine: false
PenaltyBreakBeforeFirstCallParameter: 0
BinPackArguments: false
BinPackParameters: false
# includes
IncludeBlocks: Regroup
