Checks: >
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  readability-named-parameter,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  misc-include-cleaner
CheckOptions:
    - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
      value: 'true'
    - key: readability-identifier-naming.PrivateMemberPrefix
      value: '_'
    - key: readability-identifier-naming.PrivateMethodPrefix
      value: '_'
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.MemberCase
      value: camelBack
    - key: readability-identifier-naming.FunctionCase
      value: lower_case
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
# do not interfere with clang format
FormatStyle: none
