Diagnostics:
  ClangTidy:
      Add: 
        - clang-diagnostic*
        - cppcoreguidelines*
        - bugprone*
        - performance*
        - readability-named-parameter
        - readability-identifier-naming
        - readability-inconsistent-declaration-parameter-name
        - misc-include-cleaner
      Remove: 
        - cppcoreguidelines-pro-bounds-pointer-arithmetic
        - cppcoreguidelines-non-private-member-variables-in-classes
        - cppcoreguidelines-pro-type-reinterpret-cast
        - cppcoreguidelines-pro-type-vararg
        - cppcoreguidelines-special-member-functions
        - cppcoreguidelines-avoid-c-arrays
        - cppcoreguidelines-pro-bounds-constant-array-index
        - cppcoreguidelines-pro-bounds-array-to-pointer-decay
        - bugprone-easily-swappable-parameters
      CheckOptions:
        cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: 'true'
        readability-identifier-naming.PrivateMemberPrefix: '_'
        readability-identifier-naming.PrivateMethodPrefix: '_'
        readability-identifier-naming.ClassCase: CamelCase
        readability-identifier-naming.VariableCase: camelBack
        readability-identifier-naming.MemberCase: camelBack
        readability-identifier-naming.FunctionCase: lower_case
  Suppress:
    - unused-includes
    - missing-includes
CompileFlags:
  Add:
    - -Iincludes
    - -Iincludes/channels
    - -Iincludes/clients
    - -Iincludes/commands
    - -Iincludes/parsing
    - -Iincludes/server
    - -Itest/include
    - -Iclients
    - -I../includes/channels
    - -I../includes/clients
    - -I../includes/commands
    - -Iincludes/server
InlayHints:
  Enabled: true
