Checks: >
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  bugprone-*,
  performance-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
# do not interfere with clang format
FormatStyle: none
