Language: Cpp
BasedOnStyle: LLVM
# indentation
IndentWidth: 4
TabWidth: 4
# width
ColumnLimit: 120
# alignment
PointerAlignment: Left
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
# ctor alignment
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
# line break
BreakBeforeBraces: Linux
