Checks: >
  clang-diagnostic-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  bugprone-*,
  performance-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
# do not interfere with clang format
FormatStyle: none
